<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <title th:text="${title}"/>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img th:src="@{labr.jpg}" class="img-thumbnail" alt="Cinque Terre">
            </div>
        </div>
    </section>
</main>
</header>
</body>
</html>